<!DOCTYPE html>
<!-- saved from url=(0037)https://www.consejonacionalmorena.mx/ -->
<html class=" js " lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gobierno del Estado de Puebla</title>
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/kendo/styles/material-lime.css" rel="stylesheet" />
</head>
<body cz-shortcut-listen="true">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Mi Sitio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                    <li><a href="../Home/Tablero" title="Tablero de actores" class="nav-link">Tablero de actores</a></li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Precios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Deshabilitado</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /menu -->
    </header>

    <div class="container nav-header-container">
        <div class="col-auto header-content">
            <a href="#" title="Consejo Nacional Morena" class="logo"></a>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <div class="container-fluid">
        @RenderBody()
    </div>
    <style>
        /* Mantener elementos en una sola fila */
        @@media (max-width: 768px) {
            .nav-header-container .col-auto {
                margin-bottom: 15px;
                width: 100%;
            }z
            .accordion-menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            .nav-header-container .navbar-nav {
                display: flex;
                flex-wrap: wrap;
            }
            .nav-header-container .navbar-nav li {
                margin-bottom: 10px;
                flex: 1 1 45%; /* Ocupa 45% del ancho disponible */
                text-align: center;
            }
        }

    </style>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
