<!DOCTYPE html>
<!-- saved from url=(0037)https://www.consejonacionalmorena.mx/ -->
<html class=" js " lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" async="" src="~/default/analytics.js"></script>
    <script type="text/javascript" async="" src="~/default/js"></script>
    <script src="chrome-extension://fgddmllnllkalaagkghckoinaemmogpe/scripts/content/gps.js"></script>
    <!-- title -->
    <title>Consejo Nacional Morena</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="https://www.consejonacionalmorena.mx/images/favicon.png">
    <link rel="apple-touch-icon" href="https://www.consejonacionalmorena.mx/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.consejonacionalmorena.mx/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.consejonacionalmorena.mx/images/apple-touch-icon-114x114.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="~/default/js(1)"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-156667991-1');
    </script>


    <!-- Search Engine -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
    <meta name="author" content="Morena">
    <meta name="description" content="Se compone por 300 Consejeras y Consejeros Nacionales, de los cuales 200 son electos en el Congreso Nacional Ordinario y 100 lo componen los 32 Presidentes, Secretarios Generales y de Organización de los Comités Estatales, así como el Presidente, Secretario General y el de Organización del CEN de MORENA.">
    <meta name="image" content="http://consejonacionalmorena.mx/images/destacada-morena.jpg">

    <!-- keywords -->
    <meta name="keywords" content="México, morena, militancia, partido político, AMLO, Bertha Lujan, ">

    <!-- animation -->
    <link rel="stylesheet" href="~/default/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/default/bootstrap.min.css">
    <!-- et line icon -->
    <link rel="stylesheet" href="~/default/et-line-icons.css">
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/default/font-awesome.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" href="~/default/themify-icons.css">

    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/kendo/styles/material-lime.css" rel="stylesheet" />

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/default/bootsnav.css">
    <!-- style -->
    <link rel="stylesheet" href="~/default/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/default/responsive.css">
    <!--[if IE]>
        <script src="js/html5shiv.js"></script>
    <![endif]-->
    <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }

            .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>
<body cz-shortcut-listen="true">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="~/default/addthis_widget.js"></script>
    <!-- top -->
    <header>
        <!-- menu -->
        <nav class="navbar navbar-default bootsnav navbar-fixed-top header-dark background-transparent nav-box-width dark-link navbar-expand-lg on no-full">
            <div class="container nav-header-container">
                <!-- logo -->
                <div class="col-auto pl-lg-0">
                </div>
                <!-- /logo -->
                <div class="col-auto col-lg accordion-menu pr-lg-0">
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
                        <ul class="nav navbar-nav alt-font font-weight-700">
                            <li><a href="../Home/Default" title="Inicio" class="inner-link">Inicio</a></li>
                            <li><a href="../Home/Tablero" title="Tablero de actores" class="inner-link">Tablero de actores</a></li>
                            <li><a href="../Home/Invite" title="Esenciales" class="inner-link">Invitación</a></li>
                            <li><a href="#" title="Contacto" class="inner-link">Administracion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- /menu -->
    </header>



    <div class="container nav-header-container">
        <div class="col-auto header-content">
            <a href="#" title="Consejo Nacional Morena" class="logo"></a>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- pie de página -->
    <!-- /pie de página -->
    <!-- arriba -->
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- /arriba  -->
    <!-- javascript libraries -->

    <script type="text/javascript" src="~/default/modernizr.js"></script>
    <script type="text/javascript" src="~/default/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="~/default/jquery.easing.1.3.js"></script>

    <script type="text/javascript" src="~/default/smooth-scroll.js"></script>
    <script type="text/javascript" src="~/default/jquery.appear.js"></script>
    <!-- menu navigation -->
    <script type="text/javascript" src="~/default/bootsnav.js"></script>
    <script type="text/javascript" src="~/default/jquery.nav.js"></script>
    <!-- animation -->
    <script type="text/javascript" src="~/default/wow.min.js"></script>
    <!-- page scroll -->
    <script type="text/javascript" src="~/default/page-scroll.js"></script>
    <!-- swiper carousel -->
    <script type="text/javascript" src="~/default/swiper.min.js"></script>
    <!-- counter -->
    <script type="text/javascript" src="~/default/jquery.count-to.js"></script>
    <!-- parallax -->
    <script type="text/javascript" src="~/default/jquery.stellar.js"></script>
    <!-- magnific popup -->
    <script type="text/javascript" src="~/default/jquery.magnific-popup.min.js"></script>
    <!-- portfolio with shorting tab -->
    <script type="text/javascript" src="~/default/isotope.pkgd.min.js"></script>
    <!-- images loaded -->
    <script type="text/javascript" src="~/default/imagesloaded.pkgd.min.js"></script>

    <!-- counter  -->
    <script type="text/javascript" src="~/default/counter.js"></script>
    <!-- fit video  -->
    <script type="text/javascript" src="~/default/jquery.fitvids.js"></script>
    <!-- skill bars  -->
    <script type="text/javascript" src="~/default/skill.bars.jquery.js"></script>
    <!-- justified gallery  -->
    <script type="text/javascript" src="~/default/justified-gallery.min.js"></script>
    <!--pie chart-->
    <script type="text/javascript" src="~/default/jquery.easypiechart.min.js"></script>
    <!-- instagram -->
    <script type="text/javascript" src="~/default/instafeed.min.js"></script>
    <!-- retina -->
    <script type="text/javascript" src="~/default/retina.min.js"></script>
    <!-- revolution -->
    <script type="text/javascript" src="~/default/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/default/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="~/default/main.js"></script>

    <!-- pull menu -->
    <script type="text/javascript" src="~/default/classie.js"></script>
    <script type="text/javascript" src="~/default/hamburger-menu.js"></script>
    <iframe allow="join-ad-interest-group" data-tagging-id="G-YTZX78QLMJ" data-load-time="1723605718976" height="0" width="0" src="~/default/rul.html" style="display: none; visibility: hidden;"></iframe>

    <style>
        .inner-link {
            color: #000;
        }
    </style>
</body>
</html>
