@{
    ViewData["Title"] = "View"; Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        window.location = "/Usuario/Login"; 

    });
<script src="~/js/app/home.js"></script>
<link href="~/css/app/home.css" rel="stylesheet" />
<div id="container">

    <div class="detPrimerNivel" style="display:none"></div>

    <div class="popupDet" style="display:none;"></div>

    <div id="detailsWindow" style="display: none;">
        <div class="row mt-3">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <img id="modalImage" src="" alt="Product Image" class="img-fluid" />
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th colspan="2" class="text-center">DATOS DE GEOLOCALIZACIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Teléfono Laboral</td>
                                <td id="modalTelefonoLaboral"></td>
                            </tr>
                            <tr>
                                <td>Teléfono Casa</td>
                                <td id="modalTelefonoCasa"></td>
                            </tr>
                            <tr>
                                <td>Celular 1</td>
                                <td id="modalCelular1"></td>
                            </tr>
                            <tr>
                                <td>Correo Electrónico</td>
                                <td id="modalCorreo"></td>
                            </tr>
                            <tr>
                                <td>Domicilio Oficina</td>
                                <td id="modalDomicilioOficina"></td>
                            </tr>
                            <tr>
                                <td>Domicilio Residencia</td>
                                <td id="modalDomicilioResidencia"></td>
                            </tr>
                            <tr>
                                <td>Domicilio Descanso</td>
                                <td id="modalDomicilioDescanso"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th colspan="2" class="text-center">DATOS PERSONALES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nombre</td>
                                <td id="modalName"></td>
                            </tr>
                            <tr>
                                <td>Paterno</td>
                                <td id="modalPaterno"></td>
                            </tr>
                            <tr>
                                <td>Materno</td>
                                <td id="modalMaterno"></td>
                            </tr>
                            <tr>
                                <td>Cumpleaños</td>
                                <td id="modalCumple"></td>
                            </tr>
                            <tr>
                                <td>Partido Político</td>
                                <td id="modalPartido"></td>
                            </tr>
                            <tr>
                                <td>Grupo Político</td>
                                <td id="modalGrupo"></td>
                            </tr>
                            <tr>
                                <td>Afinidad</td>
                                <td id="modalAfinidad"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-kendo-tmpl" id="template">
        <div class="product card mb-4" data-id="#:ProductID#">
            <img src="/img/#:ProductID#.png" alt="#:ProductName#" />
            <h3>#:ProductName#</h3>
        </div>
    </script>
</div>
