@{
    ViewData["Title"] = "View"; Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div id="container">
    <div class="row mt-3">
        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="title-group">PODERES</div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5>FEDERAL</h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th>Ejecutivo</th>
                                        <th>Legislativo</th>
                                        <th>Judicial</th>
                                        <th>Autónomos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Oficina de la presidencia</td>
                                        <td>Diputados</td>
                                        <td>SCJN</td>
                                        <td>CNDH</td>
                                    </tr>
                                    <tr>
                                        <td>APF</td>
                                        <td>Senadores</td>
                                        <td>PJF</td>
                                        <td>INEGI</td>
                                    </tr>
                                    <tr>
                                        <td>Administración Pública Federal</td>
                                        <td>ASF</td>
                                        <td>CJF</td>
                                        <td>UNAM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="k-card-footer"></div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5>ESTATAL</h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th>Ejecutivo</th>
                                        <th>Legislativo</th>
                                        <th>Judicial</th>
                                        <th>Autónomos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Oficina de la presidencia</td>
                                        <td>Diputados</td>
                                        <td>SCJN</td>
                                        <td>CNDH</td>
                                    </tr>
                                    <tr>
                                        <td>APF</td>
                                        <td>Senadores</td>
                                        <td>PJF</td>
                                        <td>INEGI</td>
                                    </tr>
                                    <tr>
                                        <td>APF</td>
                                        <td>ASF</td>
                                        <td>CJF</td>
                                        <td>UNAM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="k-card-footer"></div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5>MUNICIPAL</h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th>Ejecutivo</th>
                                        <th>Legislativo</th>
                                        <th>Judicial</th>
                                        <th>Autónomos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Oficina de la presidencia</td>
                                        <td>Diputados</td>
                                        <td>SCJN</td>
                                        <td>CNDH</td>
                                    </tr>
                                    <tr>
                                        <td>APF</td>
                                        <td>Senadores</td>
                                        <td>PJF</td>
                                        <td>INEGI</td>
                                    </tr>
                                    <tr>
                                        <td>APF</td>
                                        <td>ASF</td>
                                        <td>CJF</td>
                                        <td>UNAM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="k-card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="title-group">GOBIERNOS ESTATALES</div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5>PODERES</h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th>Ejecutivo</th>
                                        <th>Legislativo</th>
                                        <th>Judicial</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Oficina de la presidencia</td>
                                        <td>Diputados</td>
                                        <td>SCJN</td>
                                    </tr>
                                    <tr>
                                        <td>APF</td>
                                        <td>Senadores</td>
                                        <td>PJF</td>
                                    </tr>
                                    <tr>
                                        <td>APF</td>
                                        <td>ASF</td>
                                        <td>CJF</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="k-card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="title-group">ORGANISMOS ELECTORALES</div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5></h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nacional</td>
                                        <td>INE</td>
                                        <td>Tribunal Electoral</td>
                                        <td>FEPADE</td>
                                    </tr>
                                    <tr>
                                        <td>Estatal</td>
                                        <td>OPLE</td>
                                        <td>TRIFE</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Diputados</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="k-card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="title-group">SECTOR POLÍTICO</div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5></h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nacional</td>
                                        <td>INE</td>
                                        <td>Tribunal Electoral</td>
                                        <td>FEPADE</td>
                                    </tr>
                                    <tr>
                                        <td>Estatal</td>
                                        <td>OPLE</td>
                                        <td>TRIFE</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Diputados</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="k-card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="title-group">RELACIONES INTERNACIONALES</div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5></h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nacional</td>
                                        <td>INE</td>
                                        <td>Tribunal Electoral</td>
                                        <td>FEPADE</td>
                                    </tr>
                                    <tr>
                                        <td>Estatal</td>
                                        <td>OPLE</td>
                                        <td>TRIFE</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Diputados</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="k-card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="title-group">MIGRANTES</div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5 class="k-card-title"></h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nacional</td>
                                        <td>INE</td>
                                        <td>Tribunal Electoral</td>
                                        <td>FEPADE</td>
                                    </tr>
                                    <tr>
                                        <td>Estatal</td>
                                        <td>OPLE</td>
                                        <td>TRIFE</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Diputados</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="k-card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="title-group">ORGANISMOS INTERNACIONALES</div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5 class="k-card-title"></h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nacional</td>
                                        <td>INE</td>
                                        <td>Tribunal Electoral</td>
                                        <td>FEPADE</td>
                                    </tr>
                                    <tr>
                                        <td>Estatal</td>
                                        <td>OPLE</td>
                                        <td>TRIFE</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Diputados</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="k-card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="title-group">SECTOR PRODUCTIVO</div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5 class="k-card-title"></h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nacional</td>
                                        <td>INE</td>
                                        <td>Tribunal Electoral</td>
                                        <td>FEPADE</td>
                                    </tr>
                                    <tr>
                                        <td>Estatal</td>
                                        <td>OPLE</td>
                                        <td>TRIFE</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Diputados</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="k-card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="title-group">MEDIOS DE COMUNICACIÓN</div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5 class="k-card-title"></h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>Locales</td>
                                        <td>Nacionales</td>
                                        <td>Internacionales</td>
                                    </tr>
                                    <tr>
                                        <td>Impresos</td>
                                        <td class="openDetPrimerNivel"></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Electrónicos</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Digitales</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="k-card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="detPrimerNivel" style="display:none">
        <div>
            <div class="k-card-header">
                <div class="title-group">IMPRESOS</div>
            </div>
            <div class="cards-container">
                <div class="col-12">
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5>LOCALES</h5>
                        </div>
                        <div class="k-card-body">
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="openPopupDet">El Sol de Puebla </td>
                                        <td>El Heraldo de Puebla</td>
                                        <td>La Jornada de Oriente</td>
                                        <td>Milenio</td>
                                    </tr>
                                    <tr>
                                        <td>Cambio</td>
                                        <td>Intolerancia</td>
                                        <td>La Opinión Diario de la Mañana </td>
                                        <td>Diario 24 Horas</td>
                                    </tr>
                                    <tr>
                                        <td>El Popular</td>
                                        <td>Puntual</td>
                                        <td>Contra Réplica </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="k-card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popupDet" style="display:none;">
        <div>
            <div class="col-12">
                <div class="k-card-header">
                    <div class="title-group">Información de Contacto de El Sol de Puebla</div>
                </div>
            </div>
            <div class="col-12">
                <table class="detalle">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>El Sol de Puebla</td>
                        </tr>
                        <tr>
                            <th>Domicilio</th>
                            <td>3 Oriente 201, col. Centro</td>
                        </tr>
                        <tr>
                            <th>Teléfono</th>
                            <td>5 14 33 00</td>
                        </tr>
                        <tr>
                            <th>Aniversario</th>
                            <td>05-may</td>
                        </tr>
                        <tr>
                            <th>Digital</th>
                            <td>
                                Web: <a href="https://www.elsoldepuebla.com.mx/">https://www.elsoldepuebla.com.mx/</a><br>
                                Twitter: @@elsoldepuebla1<br>
                                Facebook: elsoldpuebla
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="k-card-header">
                    <div class="title-group">Contactos</div>
                </div>

                <div id="example">
                    <div id="listView"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="detailsWindow" style="display: none;">
        <div class="row mt-3">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <img id="modalImage" src="" alt="Product Image" class="img-fluid" />
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th colspan="2" class="text-center">DATOS DE GEOLOCALIZACIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Teléfono Laboral</td>
                                <td id="modalTelefonoLaboral"></td>
                            </tr>
                            <tr>
                                <td>Teléfono Casa</td>
                                <td id="modalTelefonoCasa"></td>
                            </tr>
                            <tr>
                                <td>Celular 1</td>
                                <td id="modalCelular1"></td>
                            </tr>
                            <tr>
                                <td>Correo Electrónico</td>
                                <td id="modalCorreo"></td>
                            </tr>
                            <tr>
                                <td>Domicilio Oficina</td>
                                <td id="modalDomicilioOficina"></td>
                            </tr>
                            <tr>
                                <td>Domicilio Residencia</td>
                                <td id="modalDomicilioResidencia"></td>
                            </tr>
                            <tr>
                                <td>Domicilio Descanso</td>
                                <td id="modalDomicilioDescanso"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th colspan="2" class="text-center">DATOS PERSONALES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nombre</td>
                                <td id="modalName"></td>
                            </tr>
                            <tr>
                                <td>Paterno</td>
                                <td id="modalPaterno"></td>
                            </tr>
                            <tr>
                                <td>Materno</td>
                                <td id="modalMaterno"></td>
                            </tr>
                            <tr>
                                <td>Cumpleaños</td>
                                <td id="modalCumple"></td>
                            </tr>
                            <tr>
                                <td>Partido Político</td>
                                <td id="modalPartido"></td>
                            </tr>
                            <tr>
                                <td>Grupo Político</td>
                                <td id="modalGrupo"></td>
                            </tr>
                            <tr>
                                <td>Afinidad</td>
                                <td id="modalAfinidad"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-kendo-tmpl" id="template">
        <div class="product card mb-4" data-id="#:ProductID#">
            <img src="/img/#:ProductID#.png" alt="#:ProductName#" />
            <h3>#:ProductName#</h3>
        </div>
    </script>


    <script>
        $(document).ready(function () {
            var jsonData = [
                { "ProductID": 1, "ProductName": "Serafín Arellano Salazar", "Paterno": "Arellano", "Materno": "Salazar", "Cumple": "02-oct", "Partido": "Ninguno", "Grupo": "AArmenta", "Afinidad": "Aliado", "TelefonoLaboral": "2224549030", "TelefonoCasa": "", "Celular1": "22.24.69.09.95", "Correo": "gerardo.jean@gmail.com", "Correo2": "gjeanc@televisa.com.mx", "DomicilioOficina": "Calle Zacatlán No.42, Col. La Paz", "DomicilioResidencia": "Av. 33 Pte. 169, Villa la Noria, 72410 Heroica Puebla de Zaragoza, Pue.", "DomicilioDescanso": "C. Pedro de Alvarado, San Jose, 62550 Cuernavaca, Mor.", "Description": "Director" },
                { "ProductID": 2, "ProductName": "Jorge Rodríguez Corona", "Description": "Sub Director" },
                { "ProductID": 3, "ProductName": "Salvador Ríos Gómez", "Description": "Jefe de Información" },
                { "ProductID": 4, "ProductName": "Elena Domínguez", "Description": "Reportera" },
                { "ProductID": 5, "ProductName": "Mary Carmen Ávila", "Description": "Reportera" },
                { "ProductID": 6, "ProductName": "Karen Meza", "Description": "Reportera" }
            ];

            $('.openPopupDet').click(function () {
                showKendoWindow('.popupDet', '900px', 'MEDIOS DE COMUNICACIÓN / IMPRESOS / LOCALES');
            });

            $('.openDetPrimerNivel').click(function () {
                showKendoWindow('.detPrimerNivel', '700px', 'MEDIOS DE COMUNICACIÓN');
            });

            $("#listView").kendoListView({
                dataSource: {
                    data: jsonData,
                    pageSize: 15
                },
                layout: "grid",
                grid: {
                    cols: 5,
                    rows: 2
                },
                selectable: "single",
                pageable: true,
                template: kendo.template($("#template").html())
            });

            $("#listView").on("click", ".product", function () {
                var productId = $(this).data("id");
                var product = jsonData.find(item => item.ProductID === productId);

                if (product) {
                    $("#modalImage").attr("src", "/img/" + product.ProductID + ".png");
                    $("#modalDescription").text(product.Description);
                    $("#modalName").text(product.ProductName);
                    $("#modalPaterno").text(product.Paterno);
                    $("#modalMaterno").text(product.Materno);
                    $("#modalCumple").text(product.Cumple);
                    $("#modalPartido").text(product.Partido);
                    $("#modalGrupo").text(product.Grupo);
                    $("#modalAfinidad").text(product.Afinidad);
                    $("#modalTelefonoLaboral").text(product.TelefonoLaboral);
                    $("#modalTelefonoCasa").text(product.TelefonoCasa);
                    $("#modalCelular1").text(product.Celular1);
                    $("#modalCorreo").text(product.Correo + ", " + product.Correo2);
                    $("#modalDomicilioOficina").text(product.DomicilioOficina);
                    $("#modalDomicilioResidencia").text(product.DomicilioResidencia);
                    $("#modalDomicilioDescanso").text(product.DomicilioDescanso);
                    showKendoWindow('#detailsWindow', '950px', 'DIRECTOR - El Sol de Puebla');
                    createMap();
                }
            });

            $(window).resize(function () {
                checkAndMaximizeWindow();
            });
            // $(".custom-table").kendoGrid();
        });

        function showKendoWindow(selector, width, title) {
            var kendoWindow = $(selector).kendoWindow({
                width: width,
                title: title,
                visible: false,
                modal: true,
                activate: function () {
                    checkAndMaximizeWindow(kendoWindow);
                }
            }).data("kendoWindow");

            kendoWindow.center().open();
        }

        function checkAndMaximizeWindow(kendoWindow) {
            var windowWidth = $(window).width();
            if (windowWidth < 576)
                kendoWindow.maximize();
            else
                kendoWindow.restore();

        }

        function createMap() {
            $("#map").kendoMap({
                center: [19.047836, -98.230083],
                zoom: 12,
                layers: [{
                    type: "tile",
                    urlTemplate: "https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png",
                    subdomains: ["a", "b", "c"]
                }],
                markers: [{
                    location: [19.047836, -98.230083],
                    shape: "pinTarget",
                    tooltip: {
                        content: "Austin, TX"
                    }
                }]
            });
        }
    </script>

    <style>
        body {
            font-size: 9px !important;
            margin: 0;
            padding: 0;
        }

        details {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        summary {
            font-weight: bold;
            cursor: pointer;
            outline: none;
        }

        details[open] summary {
            color: #007BFF;
        }

        #example {
            text-align: center;
        }

        div#map {
            height: 305px;
        }

        .title-group {
            color: #b71c1c;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            border-bottom: 2px solid #ddd;
            padding-bottom: 10px;
        }

        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin: 1px solid #000 !important;
        }

        .k-card {
            border: 1px solid #ddd;
            margin-bottom: 20px;
        }

        .k-card-header {
            background-color: #f8f9fa;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .k-card-body {
            padding: 10px;
        }

        .k-card-footer {
            background-color: #f8f9fa;
            padding: 10px;
            border-top: 1px solid #ddd;
        }

        .title-group {
            margin-bottom: 20px;
            font-size: 1.25rem;
            font-weight: bold;
        }

        .k-card-action > .k-button {
            width: 100%;
        }

        .custom-table {
            width: 100%;
            border-collapse: collapse;
        }

            .custom-table th, .custom-table td {
                /* border: 1px solid black; */
                padding: 10px;
                text-align: left;
            }

            .custom-table thead th {
                /*  background-color: #b71c1c;
                                                                                                                                                                                                        color: #fff; */
                text-align: center;
                padding: 10px;
                font-weight: 700;
            }

            .custom-table tbody td {
                padding: 10px;
                border: 1px solid #ddd;
                cursor: pointer;
                transition: background-color 0.3s;
            }

                .custom-table tbody td:hover {
                    background-color: #b71c1c;
                    color: #fff;
                }


        .selected {
            background-color: #f0f0f0;
        }

        .detailsWindow {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            /* width: 100%; */
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .popup-content {
            background-color: #fff;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 90%;
            border-radius: 4px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        table.detalle {
            font-size: 12pt !important;
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .details-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

            .details-table, .details-table th, .details-table td {
                border: 1px solid black;
            }

                .details-table th, .details-table td {
                    padding: 8px;
                    text-align: left;
                }

                .details-table th {
                    background-color: #a80000;
                    color: white;
                }


        #listView {
            padding: 8px 5px;
            margin-bottom: -1px;
            min-height: 280px;
            font: inherit;
        }

        .k-listview-content {
            overflow: hidden;
        }

        .product {
            float: left;
            position: relative;
            width: 125px;
            height: 150px;
            margin: 0 5px;
            padding: 0;
        }

            .product img {
                width: 115px;
                height: 110px;
            }

            .product h3 {
                margin: 0;
                padding: 3px 5px 0 0;
                max-width: 96px;
                overflow: hidden;
                line-height: 1.1em;
                font-size: .9em;
                font-weight: normal;
                text-transform: uppercase;
                color: #999;
            }

            .product p {
                visibility: hidden;
            }

            .product:hover {
                cursor: pointer;
                color: #000;
                transition: background .2s linear, color .2s linear;
                -moz-transition: background .2s linear, color .2s linear;
                -webkit-transition: background .2s linear, color .2s linear;
                -o-transition: background .2s linear, color .2s linear;
            }

        .k-listview:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    </style>

</div>
