<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Inicio</title>
    <script>
        $("nav").hide();
    </script>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        .background {
            height: 100%;
            min-height: 700px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #79211F;
            background-image: url('/img/login.png');
            background-size: 70% auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
        }

        .imgFondoSmall {
            display: none; /* Oculta la imagen de fondo pequeña por defecto */
        }

        .login-container {
            display: flex;
            justify-content: center; /* Centra el formulario */
            align-items: center;
            width: 100%;
            padding: 20px;
            margin-left: 200px;
        }

        .login-form {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

            .login-form h2 {
                margin-bottom: 20px;
                color: white;
                font-size: 1.8rem;
            }

            .login-form .form-control {
                background-color: rgba(255, 255, 255, 0.2);
                border: none;
                color: white;
                padding: 10px;
            }

                .login-form .form-control::placeholder {
                    color: rgba(255, 255, 255, 0.7);
                }

            .login-form .btn {
                background-color: #811C26;
                border: none;
                width: 100%;
                padding: 10px;
                color: white;
                font-size: 18px;
                border-radius: 5px;
            }

                .login-form .btn:hover {
                    background-color: #D14533;
                }

        /* Media queries para pantallas pequeñas */
        @@media (max-width: 768px) {
            .background {
                background-image: none; /* Oculta la imagen de fondo grande */
                background-color: transparent; /* Elimina el color de fondo */
            }

            .login-container {
                margin-left: 0; /* Ajusta el margen para centrar mejor en pantallas pequeñas */
            }

            .login-form h2 {
                color: #93444E;
            }
            .login-form .form-control {
                background-color: rgba(255, 255, 255, 0.2);
                border: 1px solid #811C26; /* Añade un borde visible */
                color: white;
                padding: 10px;
                border-radius: 5px; /* Añade un ligero redondeo a los bordes */
                transition: border-color 0.3s ease; /* Transición suave para cambios en el borde */
            }
            .imgFondoSmall {
                display: block; /* Muestra la imagen de fondo pequeña */
                position: absolute;
                top: 0; /* Posiciona la imagen en la parte superior de la pantalla */
                left: 0;
                width: 100%;
                height: auto; /* Ajusta la altura automáticamente */
                object-fit: contain; /* Asegura que la imagen se mantenga escalada correctamente */
                z-index: -1; /* Coloca la imagen detrás del formulario */
            }
        }

        @@media (max-width: 576px) {
            .background {
                background-image: none; /* Oculta la imagen de fondo */
                background-color: transparent; /* Elimina el color de fondo */
            }

            .login-container {
                margin-left: 0;
                
            }

            .login-form h2 {
                color: #93444E;
            }
            .login-form .form-control {
                background-color: rgba(255, 255, 255, 0.2);
                border: 1px solid #811C26; /* Añade un borde visible */
                color: white;
                padding: 10px;
                border-radius: 5px; /* Añade un ligero redondeo a los bordes */
                transition: border-color 0.3s ease; /* Transición suave para cambios en el borde */
            }
            .imgFondoSmall {
                display: block;
                position: absolute;
                top: -50pt; /* Posiciona la imagen en la parte superior de la pantalla */
                left: 0;
                width: 100%;
                height: auto;
                object-fit: contain;
                z-index: -1;
            }
        }

    </style>
</head>
<body>
    <div class="background">
        @* <img src="/img/fondo.jpg" class="imgFondoSmall" alt="Imagen de fondo" /> *@
        <div class="login-container">
            <form class="login-form" action="/Usuario/Validate" method="post">
                <h2 class="text-center">Inicio de Sesión</h2>
                <div class="mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Usuario">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>
